<app-tooltip></app-tooltip>
<div class="container">
  <div class="row">
    <h1>Tooltip example</h1>
  </div>
  <div class="row">
    <span>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Similique modi magni in maiores eligendi magnam asperiores quasi explicabo sint. Asperiores eveniet placeat necessitatibus? Ad, ex possimus at tempora exercitationem quae!</span>
  </div>
  <div class="row">
    <div class="col-md-6 m-1">
      <button type="button" class="btn btn-info" tooltip>Button A</button>
    </div>
    <div class="col-md-6 m-1">
      <button type="button" class="btn btn-info" tooltip>Button B</button>
    </div>
  </div>
  <div class="row">
    <span>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Error nemo, impedit distinctio eaque adipisci nulla minus cupiditate illum, rem necessitatibus molestias assumenda ab ratione saepe. Dolorum quos in saepe numquam!</span>
  </div>
</div>


<router-outlet></router-outlet>
